$primary-color: #2c4466;
$secondary-color: #fff;

::placeholder {
	color: $secondary-color;
	opacity: 0.5;
}

.left {
	flex-direction: row-reverse;
}

.searchBar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 5rem;
	border-radius: 5rem;
	padding: 1rem 0.6rem;
	box-shadow: 0px 1px 5px #aaaaaa;
	background-color: $primary-color;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover > .searchInput {
		width: 30rem;
		padding: 0 1rem;
	}

	.searchInput {
		width: 0rem;
		height: 2.5rem;
		color: $secondary-color;
		font-weight: 600;
		font-size: inherit;
		letter-spacing: 1.5px;
		border: none;
		background: none;
		outline: none;
		transition: 0.5s;
		cursor: pointer;
	}

	.searchBtn {
		color: $secondary-color;
		width: 4rem;
		height: 4rem;
		border-radius: 100px;
		background-color: $primary-color;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
