*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	text-rendering: optimizeLegibility;

	body {
		width: 100%;
		height: 100vh;
		font-size: 1.6rem;
		letter-spacing: 0.1rem;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		#root {
			width: 100%;
			height: 100%;
		}
	}
}
